page-tutorial {}

button.back {
  ion-icon {
    color: $white;
  }
}
ion-slide p {
  margin-top: 0px !important;
  font-size: 14px !important;
  text-align: left !important;
}
ion-slide img {
  width: 190px !important;
}
